@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.botones-head {
    margin: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.regresar {
    background: transparent;
    border: none;
    cursor: pointer;
    border: solid 2px;
    border-radius: 2rem;
    padding: 0 15px;
    transition: all 0.3s ease;
}

.regresar:hover{
    background-color: rgb(71, 182, 182);
    border-radius: 2rem;
    border: solid 2px;
    padding: 0 20px;
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.valor-nutricional {
    background: transparent;
    border: none;
    cursor: pointer;
    border: solid 2px;
    border-radius: 2rem;
    padding: 0 15px;
    transition: all 0.3s ease;
}

.valor-nutricional:hover {
    background-color: rgb(71, 182, 182);
    border-radius: 2rem;
    border: solid 2px;
    padding: 0 20px;
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.tabla {
    margin-top: 2rem;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-bottom: 4rem;
    padding: 40px;
    border-radius: 2rem;
    border: solid 2px;
    background: transparent;
    backdrop-filter: blur(20px);
}

.botones-tabla {
    display: flex;
    gap: 2rem;
}

.preparacion h1 {
    font-size: 1.8em;
}

.preparacion {
    background-color: rgb(71, 182, 182);
    border-radius: 2rem;
    border: solid 2px;
    padding: 0 20px;
    transform: scale(1.1);
}

.resena-historica h1 {
    font-size: 1.8em;
}

.resena-historica {
    background: transparent;
    border: none;
    cursor: pointer;
    border: solid 2px;
    border-radius: 2rem;
    padding: 0 15px;
    transition: all 0.3s ease;
} 

.resena-historica:hover {
    background-color: rgb(71, 182, 182);
    border-radius: 2rem;
    border: solid 2px;
    padding: 0 20px;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.receta h2 {
    padding-top: 4rem;
    
}

.receta p {
    margin: 2rem;
    
}

.ingredientes h3 {
    font-size: 1.5rem;
}

.checkboxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
}

.radio {
    margin: 2rem; 
    transition: transform 0.4s ease;
}

.radio:hover {
    transition: transform 0.4s ease;
    transform: scale(1.02);
}

.radio input[type="checkbox"] {
    margin-right: 10px; 
}

.radio input[type="checkbox"] + label:before {
	content: "";
	width: 26px;
	height: 26px;
	float: left;
	margin: 0.5em 0.5em 0 0;
	border: 2px solid #ccc;
	background: #fff;
}

.radio input[type="checkbox"]:checked + label:before {
	border-color: #0fbf12;
}

.radio input[type="checkbox"]:checked + label:after {
    content: "";
    width: 12px;
    height: 6px;
    border: 4px solid #0fbf12;
    float: left;
    margin-left: -1.95em;
    border-right: 0;
    border-top: 0;
    margin-top: 1em;
    transform: rotate(-55deg);
}

.radio input[type="checkbox"] {
	display: none;
}

.radio input[type="checkbox"] {
    margin-right: 10px; 
    cursor: pointer;
}

input[type="checkbox"] + label {
    line-height: 3em;
    cursor: pointer;
}

input[type="checkbox"]:checked + label {
    color: #0fbf12;
    text-decoration: line-through;
}

.img img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 1rem;
}

.procedimiento {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.procedimiento h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    align-self: flex-start; 
    padding-bottom: 2rem;
}

.procedimiento p {
    padding-bottom: 1rem;
    align-self: flex-start; 
    padding-left: 2rem;
}

.procedimiento img {
    width: 200px;
}

.pdf {
    font-size: 1rem;
    background:red;
    border: none;
    cursor: pointer;
    border: solid 2px;
    border-radius: 2rem;
    padding: 0 15px;
    margin-top: 3rem; 
    transition: all 0.3s ease;
}

.pdf:hover {
    font-size: 1rem;
    background:rgb(178, 19, 19) ;
    transform: scale(1.3);
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    border: solid 2px;
    border-radius: 2rem;
    padding: 0 15px;
    margin-top: 3rem; 
}
