/* Estilos para el header */

.header {
    text-align: center;
  }

  .header h1 {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: #000;
  }

  .header p {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: #222222;
  }

  .grid-container-homepage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 60rem;
    margin: auto;
    padding-left: 1rem;
  }
  
  /* Estilos para los elementos de la grilla */
  .grid-item-1 {
    
    background: rgba(255, 255, 255, 0.575);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    outline: none;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    width: 400px;
    cursor: pointer;
    transition: transform 0.4s ease;
  }

  .grid-item-1:hover{
    transform: scale(1.05);
  }
  
  /* Estilos para los títulos de los elementos de la grilla */
  .grid-item-1 h2 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
  
  /* Estilos para los párrafos de los elementos de la grilla */
  .grid-item-1 p {
    font-size: 1rem;
    color: #444;
    text-align: center;
    margin: 20px 10px;
    
  }
  
  /* Estilos para las imágenes de los elementos de la grilla */
   .grid-item-1 img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  } 

  .grid-item-2 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    outline: none;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    width: 400px;
    cursor: pointer;
    transition: transform 0.4s ease;
  }

  .grid-item-2:hover{
    transform: scale(1.05);
  }
  
  /* Estilos para los títulos de los elementos de la grilla */
  .grid-item-2 h2 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 2rem;
  }
  
  /* Estilos para los párrafos de los elementos de la grilla */
  .grid-item-2 p {
    font-size: 1rem;
    color: #444;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  
  /* Estilos para las imágenes de los elementos de la grilla */
  .grid-item-2 img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }
  
  