/* Estilos para el header */
.header {
    text-align: center;
    padding-bottom: 3em;
  }
  
  /* Estilos para el título */
  .title {
    font-size: 3rem;
    font-weight: bold;
    padding-top: 0.75rem;
  }
  
  /* Estilos para el subtítulo */
  .subtitle {
    font-size: 1.5rem;
    color: #666;
    padding-top: 0.5rem;
  }
  
  /* Estilos para el contenedor de la grilla */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 60rem;
    margin: 0 auto;
  }
  
  /* Estilos para los elementos de la grilla */
  .grid-item {
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  
  /* Estilos para los títulos de los elementos de la grilla */
  .grid-item h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* Estilos para los párrafos de los elementos de la grilla */
  .grid-item p {
    font-size: 1rem;
    color: #444;
  }
  
  /* Estilos para las imágenes de los elementos de la grilla */
  .grid-item img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }
  