

.header {
    text-align: center;
    padding-bottom: 3em;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 0.75rem;
    color: #fff;
  }
  
  .subtitle {
    font-size: 1.4rem;
    padding-top: 0.5rem;
    color: #d8d8d8;
  }

.grid-container-regiones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 80rem;
  margin: 20px auto;
}

  .region-item-1 {
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  outline: none;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  width: 400px;
  cursor: pointer;
  transition: transform 0.4s ease;
  }

  .region-item-1:hover {
    transform: scale(1.05);
  }

  .region-item-1 h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  .region-item-1 p {
    font-size: 1rem;
    color: #444;
    text-align: center;
    margin: 20px 10px;
  }
  
  .region-item-1 img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }