.header {
    text-align: center;
    padding-bottom: 3em;
  }
  
  /* Estilos para el título */
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 0.75rem;
  }
  
  /* Estilos para el subtítulo */
  .subtitle {
    font-size: 1.4rem;
    color: #666;
    padding-top: 0.5rem;
  }

  .grid-container-regiones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 80rem;
    margin: 20px auto;
  }

  .region-item-1 {
    background: transparent;
    background: rgba(255, 255, 255, 0.575);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    outline: none;
    border: none;
    transition: transform 0.4s ease;
  }

  .region-item-1:hover {
    transform: scale(1.05);
  }

  .region-item-1 h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  /* Estilos para los párrafos de los elementos de la grilla */
  .region-item-1 p {
    font-size: 1rem;
    color: #444;
    text-align: center;
    margin: 20px 10px;
  }
  
  /* Estilos para las imágenes de los elementos de la grilla */
  .region-item-1 img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }