/* NavBar.css */

.navbar {
  background: url(../../../public/ImagendeFondo.jpeg);
  background: transparent;
  background-color: rgba(100, 232, 129, 0.42);
  backdrop-filter: blur(10px);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
  padding: 10px 20px;
  margin-bottom: 20px;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-logo {
  margin-left: 20px;
}

.navbar-logo a {
  color: #434343;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-toggle {
  cursor: pointer;
  color: #434343;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #fdfd96;
  transition: left 0.3s ease;
}

.sidebar.show {
  left: 0;
}

.sidebar-list {
  list-style: none;
  padding: 0;
}

.sidebar-item {
  margin-bottom: 10px;
}

.sidebar-item a {
  display: block;
  padding: 10px 20px;
  color: #434343;
  text-decoration: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: #434343;
  font-size: 1.5rem;
  cursor: pointer;
}

.user-info {
  color: #434343;
  text-align: center;
  padding: 20px 0;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar-toggle {
    
    font-size: 1.5rem;
  }

  .sidebar {
    width: 80%;
    left: -80%;
  }

  .sidebar.show {
    left: 0;
  }

  .close-btn {
    display: block;
  }
}

  
