/* NavBar.css */

.navbar {
  background-color: #b0f2c2;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-logo {
  margin-left: 20px;
}

.navbar-logo a {
  color: #434343;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-toggle {
  cursor: pointer;
  color: #434343;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #b0f2c2;
  transition: left 0.3s ease;
  z-index: 999;
}

.sidebar.show {
  left: 0;
}

/* Estilos mejorados para Sidebar-List */
.sidebar-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar-item {
  margin-bottom: 10px;
}

.sidebar-item a {
  display: block;
  padding: 10px 20px;
  color: #333; /* Color de los enlaces */
  text-decoration: none;
  transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
}

.sidebar-item a:hover {
  background-color: #ddd; /* Cambio de color de fondo al pasar el ratón sobre el enlace */
  color: #000; /* Cambio de color del texto al pasar el ratón sobre el enlace */
}

.sidebar-icon {
  margin-right: 10px; /* Espaciado a la derecha del icono */
}

.sidebar-divider {
  height: 1px; /* Altura del divisor */
  background-color: #434343; /* Color del divisor */
  margin: 10px 10px; /* Espaciado alrededor del divisor */
}

.close-btn {
  position: absolute;
  margin-bottom: 20px;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: #434343;
  font-size: 1.5rem;
  cursor: pointer;
}

.user-info {
  margin-top: 10px;
  text-align: center; 
  color: #434343;
  text-align: center;
  padding: 20px 0;
}

.avatar {
  width: 100px; /* Ancho del avatar */
  height: 100px; /* Alto del avatar */
  border-radius: 50%;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar-toggle {
    font-size: 1.5rem;
  }

  .sidebar {
    width: 80%;
    left: -80%;
  }

  .sidebar.show {
    left: 0;
  }

  .close-btn {
    display: block;
  }
}
