.filtro-container {
  padding: 10px;
  
  justify-content: center;
  margin-bottom: 20px;
}

/* filtro.css */

/* filtro.css */



.go-back-button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.icon {
  display: inline-flex;
  align-items: center;
  padding: 5px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.icon:hover {
  color: #727272;
}

.icon span {
  margin-left: 5px;
}

/* Estilos CSS */
.shadow-border {
  border: 1px solid #ccc; /* Borde sólido */
   /* Sombra */
}


.filtro-form {
  border-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px; 
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
   /* Puedes ajustar este valor según tus necesidades */
}

.filtro-form input {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
}

.filtro-form select {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
}

.filtro-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

/* Estilos adicionales para el campo de entrada numérica */
.number-input {
  display: flex;
  flex-direction: column;
  
}

.number-input input{
  width:220px;
  border-radius: 5px;
  border-color: #727272;
}

.number-input select{
  width:220px;
  border-radius: 5px;
  border-color: #727272;
}
.number-input div {
  margin-bottom: 10px; /* Añadimos un margen inferior entre los campos */
}

.number-input2 {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.number-input2 label {
  
  width: 150px; /* Ancho fijo para el label */
}

.number-input2 input {
  width: 50px;
  border: none;
  flex: 1; /* El input se expandirá para ocupar el espacio disponible */
}

.div-duracion {
  border-radius: 5px;
  margin-right: 30px;
  border: 2px solid black; /* Borde sólido de 1px de ancho y color negro */
  padding: 0px;
}


/* Estilos adicionales para hacerlo responsive */
@media (max-width: 768px) {
  .filtro-form {
    flex-direction: column;
    align-items: center;
  }

  .filtro-form input,
  .filtro-form select,
  .filtro-form button {
    width: 100%;
    margin: 5px 0;
  }
}

/* filtro.css */

/* Estilo para el botón Filtrar */
button[type="submit"] {
  margin-top: 30px;
  align-items: center;
  height: 40px;
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Eliminar el borde */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor al pasar por encima */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
  transition: background-color 0.3s, box-shadow 0.3s; /* Transición suave */
}

/* Estilo al pasar el mouse sobre el botón */
button[type="submit"]:hover {
  background-color: #0056b3; /* Cambio de color de fondo al pasar el mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Cambio de sombra al pasar el mouse */
}

.card {
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  width: 300px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.carousel {
  /* Estilos para el carrusel si decides usar uno */
}

.stars {
  /* Estilos para la valoración con estrellas */
}

.card-info {
  margin-top: 20px;
}

.card-info-item {
  margin-bottom: 10px;
}

.card-info-item span {
  font-weight: bold;
}

.read-more-button {
  display: block;
  margin: 0 auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.read-more-button:hover {
  background-color: #0056b3;
}

.details {
  list-style: none; /* Esto quita los markers de lista */
  padding: 0;
}

.details li {
  margin-bottom: 5px;
}
